<!DOCTYPE html>
<html th:fragment="head"
        xmlns:th = "http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" th:href="@{'/css/styleind.css'}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <title>DELTA</title>
        <link rel="stylesheet" th:href="@{'/css/bootstrap.css'}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Poppins:wght@300;400;600&display=swap');
        </style>
    </head>