<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:insert="~{head :: head}"></head>
<body>
<div th:insert="~{header :: content}"></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px; height: 400px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <form th:action="@{'/uploadava'}" method="post" enctype="multipart/form-data">
                            <img th:src="@{(${currentUser.avatar!=null?'/img/'+currentUser.avatar+'.jpg':'/img/default.png'})}" class="rounded d-block" style="width: 540px; height: 400px;" >
                        </form>
                    </div>
                    <div>
                        <div class="col-md-8">
                            <div class="card-body">
                            </div>
                        </div>
                        <form th:action="@{'/uploadava'}" method="post" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <div class="custom-file">
                                    <input type="file" name = "user_avatar" class="custom-file-input" id="customFile">
                                </div>
                            </div>
                            <div class = "form-group mb-3">
                                <button class="btn btn-success">UPLOAD AVATAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <form th:action="@{'/updatepassword'}" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Old-Password</label>
                    <input type="password" name="old_password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="new_password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Retype-Password</label>
                    <input type="password" name="re_new_password" class="form-control">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <label>
                    <button class="btn btn-primary">Update</button>
                </label>
            </form>
        </div>
    </div>
</div>
</body>
</html>